@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #05668D;
    --secondary-color: #FCAA67;
    --accent1-color: #98D2EB;
    --accent2-color: #003E1F;

    --heading-font: 'Merriweather', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: rgb(0, 0, 0);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent1-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: var(--paragraph-font);
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
    color: var(--accent2-color);
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-background-color);
    width: 100%;
    padding: 10px 20px;
}

header img {
    margin-left: 200px;
    width: 200px;
    height: auto;
}

header nav {
    background-color: var(--nav-background-color);
    display: flex;
    justify-content: flex-end;
    padding: 20px 50px;
    align-items: center;
    flex-grow: 1;
}

header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 15px;
    font-size: 1.1rem;
    border: black 1px solid;
    background-color: rgba(99, 67, 40, 0.5);
}

.hero {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position:absolute;
    top: 30%;
    left: 40rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 300%;
}

article {
    position:absolute;
    top: 52%;
    left: 40rem;
    max-width: 750px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 20px;
    border-radius: 5px;
}

article h3 {
    color: black;
    margin: 0 0 0 80px;
}

article p {
    color: black;
    margin: 0 0 0 0;
}

article img {
    float: right;
    margin: 0 0 auto 20px;
}

.history {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    align-items: center;
    justify-items: center;
    margin: 50px 0;
}

.history h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.history img {
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    max-width: 400px;
}

.history-text-left {
    grid-column: 1;
    grid-row: 2;
    text-align: right;
}

.history-text-right {
    grid-column: 3;
    grid-row: 2;
    text-align: left;
}

section h2 {
    text-align: center;
    margin: 50px 0;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    text-align: center;
    margin: 50px 0;
}

.adventures img {
    width: 100%;
    height: auto;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--nav-background-color);
}

footer p {
    color: black;
    margin: 0;
}

.sociallinks {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

footer nav img {
    width: 50px;
    height: auto;
    margin: 0 10px;
}

.sociallinks a {
    color: var(--accent2-color);
    text-decoration: none;
}